#map {
  width: 500px;
  height: 400px;
  border: 1px red solid;
}

#overlay_canvas {
   width: 100%;
   height: 100%;
   resize: both;
}

#canvas_container {
   width: 800px;
   height: 600px;
   resize: both;
   border: 1px solid green;
}
